.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.myCard {
  background-color: steelblue;
  font-family: Comic Sans MS;
  border: 4px solid black;
  width: 360px;
  border-radius: 10px;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myCard > img { 
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.myCard > img:hover { 
  border-radius: 10%;
}

.myButton {
  background-color: #e1e1e1;
  color: #666;
  width: 200px;
  height: 50px;
  border: 1px solid #666;
  border-radius: 10px;
  margin: 10px;
}

.myButton:hover {
  cursor: pointer;
  background: lightgrey;
  color: #666;
}